html, body {
  height: 100%;
  background: #000;
}

body {
  font-family: monospace;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #ccc;
}

iframe {
  margin: 20px 0 20px 20px;
  width: 315px;
  height: 315px;
  filter: drop-shadow(5px 5px 10px #000);
}

#main {
  position: absolute;
  z-index: 1;
}

.stuff {
  margin: 20px 0 20px 20px;
  padding: 20px;
  display: inline;
  background-color: #333;
  opacity: 0.7;
  position: absolute;
}

#doods {
  position: absolute;
  top: 0;
  left: 0;
}
