html, body {
  height: 100%;
}

body {
  font-family: monospace;
  background-color: #130706;
  background-image: url("/static/images/qd.png");
  background-position: center;
  background-repeat: no-repeat;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #ccc;
}

iframe {
  margin: 20px 0 20px 20px;
  width: 315px;
  height: 315px;
}

.stuff {
  margin: 20px 0 20px 20px;
  padding: 20px;
  display: inline;
  background-color: #000;
  opacity: 0.7;
  position: absolute;
}
