{{define "layout"}}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{template "title"}}</title>
  <link rel="stylesheet" href="/static/stylesheets/normalize.css">
  <link rel="stylesheet" href="/static/stylesheets/main.css?{{.BuildID}}">
  <link rel="icon" type="image/png" href="/static/images/favicon.png">
  {{if .Build}}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-H8CVJK7FJ5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-H8CVJK7FJ5');
  </script>
  {{end}}
</head>
<body>
  <section id="main">
    {{template "body"}}
  </section>
  <canvas id="doods"></canvas>
  <script src="/static/js/main.js?{{.BuildID}}"></script>
</body>
</html>
{{end}}
